<div class="hero-unit">


	<h1>Welcome to maxBibleReader!</h1>
	<p>Gateway to your salvation and living an abundant life.</p>

	<p><%=link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-primary" %></p>

</div>
